In [7]:
import pandas as pd
import numpy as np
import pickle

import sys
sys.path.append("../")
import src.soporte as sp

In [8]:
# Cargamos nuestros encoders y nuestros modelos
with open('../data/modelo_KNN_v1.pkl', 'rb') as knn0:
    knn1 = pickle.load(knn0)

with open('../data/modelo_Gradient_Booster_v1.pkl', 'rb') as gradient0:
    gradient1 = pickle.load(gradient0)

with open('../data/encoding_clarity_1.pkl', 'rb') as clarity0:
    clarity_encode = pickle.load(clarity0)

with open('../data/encoding_color_1.pkl', 'rb') as color0:
    color_encode = pickle.load(color0)

with open('../data/encoding_cut_1.pkl', 'rb') as cut0:
    cut_encode = pickle.load(cut0)

test = pd.read_csv("../data/test.csv")

In [9]:
# Eliminamos las columnas que no usan nuestros modelos
test.drop(["id", "depth", "table","carat"], axis = 1, inplace = True)
test.head(2)

       cut color clarity     x     y     z
0    Ideal     I     SI1  4.43  4.49  2.70
1  Premium     I     SI1  6.80  6.74  4.26

In [10]:
# Encodeamos tranquilamente
test["cut"] = cut_encode.transform(test[["cut"]])
test["color"] = color_encode.transform(test[["color"]])
test["clarity"] = clarity_encode.transform(test[["clarity"]])

In [11]:
test.head()

   cut  color  clarity     x     y     z
0    2      5        2  4.43  4.49  2.70
1    3      5        2  6.80  6.74  4.26
2    3      0        2  7.55  7.60  4.70
3    3      0        3  5.94  5.90  3.59
4    0      1        3  7.26  7.15  4.67

In [12]:
# Realizamos el mismo proceso con nuestro primer modelo
test_knn1 = pd.DataFrame(knn1.predict(test))
test_knn1 = test_knn1.reset_index()
test_knn1.columns = ["id", "price"]
test_knn1.to_csv("../data/test_knn_1.csv", index = False)

In [13]:
# Realizamos el mismo proceso con nuestro segundo modelo
test_gradient_1 = pd.DataFrame(gradient1.predict(test))
test_gradient_1 = test_gradient_1.reset_index()
test_gradient_1.columns = ["id", "price"]
test_gradient_1.to_csv("../data/test_gradient_1.csv", index = False)