In [31]:
import pandas as pd
import numpy as np
import pickle

import sys
sys.path.append("../")
import src.soporte as sp

In [32]:
with open('../data/modelo_KNN_v0.pkl', 'rb') as knn0:
    knn0 = pickle.load(knn0)

with open('../data/modelo_Gradient_Booster_v0.pkl', 'rb') as gradient0:
    gradient0 = pickle.load(gradient0)

with open('../data/encoding_clarity_0.pkl', 'rb') as clarity0:
    clarity_encode = pickle.load(clarity0)

with open('../data/encoding_color_0.pkl', 'rb') as color0:
    color_encode = pickle.load(color0)

with open('../data/encoding_cut_0.pkl', 'rb') as cut0:
    cut_encode = pickle.load(cut0)

test = pd.read_csv("../data/test.csv")

In [33]:
test.drop(["id", "depth", "table"], axis = 1, inplace = True)
test.head(2)

   carat      cut color clarity     x     y     z
0   0.32    Ideal     I     SI1  4.43  4.49  2.70
1   1.24  Premium     I     SI1  6.80  6.74  4.26

In [34]:
clarity_encode

{'VVS1': 1,
 'IF': 1,
 'VVS2': 2,
 'VS2': 3,
 'VS1': 3,
 'SI1': 4,
 'SI2': 5,
 'I1': 5}

In [35]:
test["clarity"] = test["clarity"].map(clarity_encode)
test["color"] = test["color"].map(color_encode)

In [36]:
cut_encode

OrdinalEncoder(categories=[['Ideal', 'Very Good', 'Good', 'Fair', 'Premium']],
               dtype=<class 'int'>)

In [37]:
test["cut"] = cut_encode.transform(test[["cut"]])

In [38]:
test.head()

   carat  cut  color  clarity     x     y     z
0   0.32    0      3        4  4.43  4.49  2.70
1   1.24    4      3        4  6.80  6.74  4.26
2   1.66    4      1        4  7.55  7.60  4.70
3   0.75    4      1        5  5.94  5.90  3.59
4   1.50    3      1        5  7.26  7.15  4.67

In [39]:
test_knn_0 = pd.DataFrame(knn0.predict(test))

In [40]:
test_knn_0 = test_knn_0.reset_index()
test_knn_0.columns = ["id", "price"]

In [43]:
test_knn_0.to_csv("../data/test_knn_0.csv", index = False)

In [45]:
test_gradient_0 = pd.DataFrame(gradient0.predict(test))
test_gradient_0 = test_gradient_0.reset_index()
test_gradient_0.columns = ["id", "price"]
test_gradient_0.to_csv("../data/test_gradient_0.csv", index = False)